*{
	margin:0;
	padding:0;
	background-color: yellow;
}

img{
	width:15%;
	height:5%;
	/*padding-left:3%;
	padding-top:3%;*/
	border-radius: 9px;
	margin-left: 5px;
}

nav{
width: 60%;
display: flex;
float: right;
justify-content: space-around;
margin-top:50px;
margin-right:300px;
}


.help{
	float: right;
	margin-right:90px;
	margin-top: -123px;
	padding:10px 45px ;
	padding-left:10px;
	padding-right: 10px;
	justify-content: space-between;
	color:#ffff;
	font-size:14px;
	border:none;
	display: flex;
	text-align: center;
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 10px;
	text-transform: uppercase;
	text-shadow: transparent;
}

.btn1{
	padding:10px 45px ;
	padding-left:10px;
	padding-right: 10px;
	justify-content: space-between;
	color:#ffff;
	font-size:14px;
	border:none;
	display: flex;
	text-align: center;
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 10px;


}

.btn2{
	padding:10px 45px ;
	padding-left:10px;
	padding-right: 10px;
	justify-content:space-between;
	color:#ffff;
	display: flex;
	font-size:14px;
	border:none;
	text-align: center;
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 10px;
}

.btn3{
	padding:10px 45px ;
	padding-left:10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	color:#ffff;
	font-size:14px;
	border:none;
	text-align: center;
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 10px;
}

.btn4{
	padding:10px 45px ;
	padding-left:10px;
	padding-right: 10px;
	display: flex;
	justify-content: space-between;
	color:#ffff;
	font-size:14px;
	border:none;
	text-align: center;
	background-image: linear-gradient(to right,#649bff,#0070fa,#649bff);
	border-radius: 10px;
}


.slider{
	width: 74%;
	height:420px;
	position: absolute;
	left:50%;
	top: 50%;
	transform: translate(-44%,-42%);
	background-size: 100% 100%;
	background-image: url('gaming 1.jpg');
	box-shadow: 1px 2px 10px 5px purple;
	animation:slider 15s infinite linear;
}

@keyframes slider{
	0%{ background-image: url('gaming 1.jpg'); }
	15%{ background-image: url('gaming 2.jpg'); }
	25%{ background-image: url('gaming 3.jpg'); }
	35%{ background-image: url('gaming 4.jpg'); }
	45%{ background-image: url('gaming 5.jpg'); }
	55%{ background-image: url('gaming 6.jpg'); }
	65%{ background-image: url('gaming 7.jpg'); }
	75%{ background-image: url('gaming 8.jpg'); }
}


/*
this is the code for dropdown menu
*/

.btn1:hover , .btn1:focus {
  background-color: #2980B9;
}